/* Set font-family for all headings to a sans-serif font */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #A3C4BC;
}
/* A specified standard sans-serif web font for sales data (such as Arial, Verdana, or Helvetica). */
div{
  font-family: Arial, sans-serif;
  background-color: #9796ba;
  
}

text{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-color: #363537;
  color: #2b2320;
  text-align: center;
}
.container{
  background-color: #7776BC;
}
