h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #00a862;
}
h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #006241;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 60%;
  text-align: center;
  background: #d4e9e2;
  padding: 20px;
}

table {
  margin-top: 20px;
  background-color: #edebe9;
  color: #00a862;
}

body{
  background-color: #f2f0eb;
  color: #00a862;
  text-align: center;
  list-style: inside;
}
a:li{
  color: #1E3932;
}
a:visited{
  color: #1E3932(189, 225, 91, 0.691);
}