h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #A3C4BC;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
  float: left;
  width: 10%;
  height: 200%; 
  background: #000000;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
body{
  background-color: #363537;
  color: #e96d40;
  text-align: center;
  list-style: inside;
}
a:li{
  color: fuchsia;
}
a:visited{
  color: rgba(189, 225, 91, 0.691);
}