h1 {
  font-family: sans-serif;
  color: #A3C4BC;
}
h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #A3C4BC;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 60%;
  text-align: center;
  background: #000000;
  padding: 20px;
}

table {
  margin-top: 20px;
  background-color: #363537;
  color: #e96d40;
}

body{
  background-color: #363537;
  color: #e96d40;
  text-align: center;
  list-style: inside;
}
a:li{
  color: fuchsia;
}
a:visited{
  color: rgba(189, 225, 91, 0.691);
}