/* Set font-family for all headings to a sans-serif font */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #A3C4BC;
}
/* A specified standard sans-serif web font for sales data (such as Arial, Verdana, or Helvetica). */
div{
  font-family: Arial, sans-serif;
  background-color: #7776BC;
  
}

text{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-color: #363537;
  color: #D3AB9E;
  text-align: center;
}
.container{
  background-color: #7776BC;
}

A different background color for elements such boxes and tables (so make sure the font colors contrast against this well, too!).
Anything else you’d like to add related to style. But remember: simplicity, clarity, and consistency are good things in design.
Be thoughtful about layout and overall organization of the page.
Run a Lighthouse Accessibility report. In this module, push to achieve a score between 65-80. Add the screenshot of your score to your README.md.
Include all of the typical stuff that you’ll find on the home page of a business: locations, hours, contact information, some text about how awesome the business is, etc. Be creative, and again, think about what is meaningful to a typical end user.